<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button fill="clear" style="color: white;" routerLink="/login">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="8">
        <h1>{{ 'SIGN_UP' | translate }}</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <ion-label>{{ 'NAME' | translate }}</ion-label>
    <ion-item lines="full">
      <ion-input type="text" formControlName="name" required placeholder="Enter Your Name"></ion-input>
    </ion-item>
    <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched">
      <p class="error">{{ 'ENTER_NAME' | translate }}</p>
    </ion-text>
    <ion-row>
      <ion-col size="3">
        <ion-label>{{ 'GENDER' | translate }}</ion-label>
        <ion-item lines="full">
          <select formControlName="gender">
            <option value="" disabled selected>{{ 'SELECT' | translate }}</option>
            <option value="Man">{{ 'MALE' | translate }}</option>
            <option value="Woman">{{ 'FEMALE' | translate }}</option>
          </select>
        </ion-item>        
      </ion-col>
      <ion-col size="9">
        <ion-label>{{ 'CITY' | translate }},{{ 'COUNTRY' | translate }}</ion-label>
        <ion-item lines="full">
          <ion-input type="text" formControlName="city" required placeholder="City, Country"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('city').valid && signupForm.get('city').touched">
      <p class="error" color="danger">{{ 'ENTER_CITY_COUNTRY' | translate }}</p>
    </ion-text>

    <ion-label>{{ 'EMAIL_ADDRESS' | translate }}</ion-label>
    <ion-item lines="full">
      <ion-input type="email" formControlName="email" required placeholder="Enter Your Email"></ion-input>
    </ion-item>
    <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
      <p class="error" color="danger">{{ 'ENTER_VALID_EMAIL' | translate }}</p>
    </ion-text>

    <ion-label>{{ 'PASSWORD' | translate }}</ion-label>
    <ion-item lines="full">
      <ion-input type="password" formControlName="password" required placeholder="Enter Password"></ion-input>
      <ion-icon (click)="onChange()" [name]="isTypePassword ? 'eye-outline' : 'eye-off-outline'" slot="end"
      [color]="isTypePassword ? 'medium' : 'primary'"></ion-icon>
    </ion-item>
    <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
      <p class="error" color="danger">{{ 'ENTER_VALID_PASSWORD' | translate }}</p>
    </ion-text>

    <ion-label>{{ 'CONFIRM_PASSWORD' | translate }}</ion-label>
    <ion-item lines="full">
      <ion-input type="password" formControlName="confirmPassword" required placeholder="Confirm Password"></ion-input>
      <ion-icon (click)="onChangeCofirmPassword()" [name]="isTypeConfirmPassword ? 'eye-outline' : 'eye-off-outline'" slot="end"
      [color]="isTypeConfirmPassword ? 'medium' : 'primary'"></ion-icon>
    </ion-item>
    <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('confirmPassword').valid && signupForm.get('confirmPassword').touched">
      <p class="error" color="danger">{{ 'PASSWORDS_DO_NOT_MATCH' | translate }}</p>
    </ion-text>

    <ion-grid class="signin-button-grid">
      <ion-row>
        <ion-col>
          <ion-button class="get-started-button" type="submit" [disabled]="!signupForm.valid">
            <span> {{ 'SIGN_UP' | translate }}</span>
            <div class="lines"></div>
            <div>
              <ion-icon name="arrow-forward"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col class="ion-text-center" routerLink="/login">
          <ion-text class="account-text">
            {{ 'ALREADY_HAVE_ACCOUNT' | translate }}
            </ion-text>
          <ion-row>
            <ion-col size="2"></ion-col>
            <ion-col class="ion-text-center">
              <ion-text class="signup-text">{{ 'SIGN_IN' | translate }}</ion-text>
              <hr class="signup-hr" />
            </ion-col>
            <ion-col size="2"></ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2"></ion-col>
      </ion-row>
    </ion-grid>
    <hr class="hr2" />
  </form>
</ion-content>