
<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/apptabs/tabs/setting"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-justify">Terms & Conditions</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header class="ion-no-border" style="border-bottom: 2px solid #000000; ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center" >Product Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>
    A mobile app terms and conditions agreement is a powerful solution to help
    you:
  </p>
  <ul>
    <li>Limit our liabilities</li>
    <li>
      Answer common questions about our protocols, guidelines, and user
      expectations
    </li>
    <li>Protect our intellectual property</li>
    <li>Minimize legal disputes</li>
    <li>Establish rules that users must follow while accessing our services</li>
    <li>Post necessary disclaimers and warranties</li>
  </ul>
  <p>
    This guide explains what mobile app terms and conditions are, how they
    benefit you and your users, and highlights real-world examples of other
    apps' terms to inspire you when you make your own. When you're ready,
    download our free app terms and conditions template below to make an
    agreement for your app in minutes.
  </p>
  <p>
    The terms and conditions for an app explain your rights as the app developer
    and owner and outlines rules users must follow when accessing your product.
    On the other hand, privacy policies disclose your data handling practices
    and explain your users' rights over their personal information
  </p>
  <h6 routerLink="/privacy-policy">Privacy Policy</h6>
  <hr />
</ion-content>

