<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="2" class="ion-text-center">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-col>
      <ion-col class="ion-text-center" size="10">
        <h2>{{ 'VERIFY_EMAIL' | translate }}</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="ion-margin-top ion-margin-bottom">
    <ion-col>
      <div class="circle-container">
        <ion-img src="assets/group.svg" class="center-icon"></ion-img>
      </div>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col class="ion-text-center ion-margin-top">
      <ion-text>
        {{ 'ENTER_4_DIGIT_CODE' | translate }}
      </ion-text>
    </ion-col>
  </ion-row>

  <!-- <form>
    <ion-grid class="signin-button-grid">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="2" *ngFor="let i of [1,2,3,4]">
          <ion-input type="text" maxlength="1" class="otp-input"></ion-input>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="auto">
          <ion-button fill="clear" class="resend-button">
            {{ 'RESEND_OTP' | translate }}
          </ion-button>
          <hr class="signup-hr" />
        </ion-col>
      </ion-row>
    </ion-grid>
  
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-button class="get-started-button" routerLink="/reset-password">
          <span> {{ 'Verify' | translate }}</span>
          <div class="lines"></div>
          <div>
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <hr class="hr2" />
  </form> -->

  <form (ngSubmit)="verifyOTP()">
    <ion-grid class="signin-button-grid">
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ng-otp-input class="ng_otp_input" [(ngModel)]="otp" (onInputChange)="onOtpChange($event)"
        [config]="{length:4}"></ng-otp-input>
      </ion-row>
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-col size="auto">
          <ion-button fill="clear" class="resend-button">
            {{ 'RESEND_OTP' | translate }}
          </ion-button>
          <hr class="signup-hr" />
        </ion-col>
      </ion-row>

    </ion-grid>

    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-button class="get-started-button" type="submit">
          <span> {{ 'Verify' | translate }}</span>
          <div class="lines"></div>
          <div>
            <ion-icon name="arrow-forward"></ion-icon>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
    <hr class="hr2" />
  </form>


</ion-content>
