<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons mode="md" slot="start">
      <ion-button (click)="goBack()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header> -->
<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button routerLink="/apptabs/tabs/setting"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-justify">Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header class="ion-no-border" style="border-bottom: 2px solid #000000; ">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Privacy Policy</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>
    A <strong>Privacy Policy</strong> is a legal document that informs the
    public about the data you collect, how you collect it, and how you use it.
    This article will cover the components of a good Privacy Policy and will
    help you better understand how to create one that builds trust and
    confidence in your customers and protects you against various liability
    issues. You'll also find examples of how other businesses have used Privacy
    Policies to comply with the law and inform customers about their privacy
    practices.
  </p>
  <p>
    We've also put together a Sample Privacy Policy Template that you can use to
    help write your own. In today's business world, companies depend heavily on
    data and information derived from it. Indeed, information is essential for
    all company employees, from the top executives to the operations level.
  </p>
  <p>
    Protecting data, especially private, personal information, is crucial in a
    complex world where so much depends upon it. The most important step for
    business owners to protect their customers' data is to create a concise and
    transparent Privacy Policy. So, a good Privacy Policy should outline what
    data is being collected and explain why you're collecting it, who has access
    to it, and the time frame during which you plan to store it. It should also
    include any third parties with whom your company shares personal or private
    information, as well as any steps taken to ensure the security of such
    information. Privacy Policies are required by law to be posted on your
    website. You may be required to include specific clauses in your Privacy
    Policy, depending on the applicable laws within your area or where you are
    conducting business.
  </p>
  <hr />
</ion-content>
