<ion-content class="ion-padding">
  <ion-grid class="ion-margin-bottom">
    <ion-row>
      <ion-col size="4">
          <ion-button  fill="clear" style="color: white;" routerLink="/signup">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col size="8">
        <h1>Sign In</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="signupForm">
    <ion-label>Registered Email</ion-label>
    <ion-item lines="full" class="ion-margin-top">
      <ion-input type="email" formControlName="email" name="email" required placeholder="enter your email"></ion-input>
    </ion-item>
    <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
      <p class="error">*Please enter proper Email Address</p>
    </ion-text>
    <ion-label>Password</ion-label>
    <ion-item lines="full" class="ion-margin-top">
      <ion-input formControlName="password" type="password" name="password" required placeholder="enter your password"></ion-input>
      <ion-icon name="eye" slot="end" ></ion-icon>
    </ion-item>
    <ion-text class="ion-text-left" color="danger" *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched">
      <p class="error" *ngIf="signupForm.get('password').invalid && signupForm.get('password').errors?.['required']">Please enter your Password</p>
    </ion-text>
      <ion-row>
        <ion-col>
            <ion-button fill="clear" size="small" ><ion-checkbox slot="start"></ion-checkbox> &nbsp; Remember me</ion-button>
        </ion-col>
               <ion-button fill="clear" style="float: right;" size="small" class="forgot-password-button" routerLink="/forgot-password">Forgot Password?</ion-button>
       
      </ion-row>
    <ion-grid class="signin-button-grid">
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-button class="get-started-button"  (click)="onSubmit()">
            <span>Sign In</span>
            <div class="lines"></div>
            <div>
              <ion-icon name="arrow-forward"></ion-icon>
            </div>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col class="ion-text-center">
            <ion-text class="account-text">Don't have an account?</ion-text>
            <ion-row>
              <ion-col size="2"></ion-col>
              <ion-col class="ion-text-center" routerLink="/sign-up">
                <ion-text class="signup-text">Sign Up?</ion-text>
                <hr class="signup-hr"/>
              </ion-col><ion-col size="2">
              </ion-col>
            </ion-row>
        </ion-col><ion-col size="2">
        </ion-col>
      </ion-row>
      
    </ion-grid>
  

    <hr class="hr2" />
  </form>
</ion-content>
