
<ion-header class="ion-no-border">
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-justify">Account Settings</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-label class="ion-margin-start">Security Details</ion-label>
    <form>
      <ion-grid class="ion-margin">
        <ion-label class="ion-margin-start ion-margin-top">Registered Email</ion-label>
        <ion-item lines="full" class="ion-margin-top">
          <ion-input type="email" name="email" required placeholder="enter your email"></ion-input>
        </ion-item>
        <ion-label class="ion-margin-start">Password</ion-label>
        <ion-item lines="full" class="ion-margin-top">
          <ion-input type="password" name="password" required placeholder="enter your password"></ion-input>
          <ion-icon name="eye" slot="end"></ion-icon>
        </ion-item>
      </ion-grid>
    </form>

    
      <ion-label class="ion-margin-start ion-margin-top">Language</ion-label>
      <div class="custom-radio">
        <ion-radio-group>
          <ion-list>
            <ion-item lines="none">
              <ion-label>English</ion-label>
              <ion-radio slot="start" value="english"></ion-radio>
            </ion-item>
            <ion-item lines="none">
              <ion-label lines="none">Arabic</ion-label>
              <ion-radio slot="start" value="arabic"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-radio-group>
      </div>
  <hr />
</ion-content>

<!-- <ion-content class="ion-padding">
  <ion-modal #modal trigger="open-modal">
    <ng-template style="height: fit-content;">
      <form action="
      ">
        <div class="input-email">
          <div class="email-input">
            <div class="email-input-wrapper">
              <div class="email-field">
                <div class="input-container">
                  <h3 class="change-email3">Change Email</h3>
                  <div class="email-input-label">
                    <div class="email-id2">Email ID</div>
                  </div>
                </div>
              </div>
              <img class="material-symbols-lightcancel-icon1" loading="lazy" alt=""
                src="assets/materialsymbolslightcanceloutline1.svg" (click)="modal.dismiss()" />
            </div>
            <div class="box9">
              <img class="calendar-clear-icon9" alt="" src="assets/calendarclear.svg" />
              <input class="text-input7" placeholder="xyz@gmail.com" type="text" />
            </div>
          </div>
          <div class="save-button">
            <button class="primary-button2">
              <div class="save-changes1">Save Changes</div>
            </button>
          </div>
        </div>
      </form>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-content class="ion-padding" class="custom-modal">
  <ion-modal #modal2 trigger="open-modal2">
    <ng-template style="height: fit-content;">
      <form>
        <div class="label-parent email-input-container email-input-container-parent">
          <div class="password-change-container">
            <div class="password-input-container">
              <div class="old-password-input">
                <div class="old-password-row">
                  <h3 class="change-password4">Change Password</h3>
                  <div class="old-password-box">
                    <div class="old-password">Old Password</div>
                  </div>
                </div>
              </div>
              <img class="material-symbols-lightcancel-icon2" loading="lazy" alt=""
                src="assets/materialsymbolslightcanceloutline1.svg" (click)="modal2.dismiss()" />
            </div>
            <div class="box12">
              <img class="calendar-clear-icon12" alt="" src="assets/calendarclear.svg" />

              <input class="old-password-entry" placeholder="........." type="text" />

              <div class="old-password-icon-container">
                <img class="eye-icon3" alt="" src="assets/eye.svg" />
              </div>
            </div>
          </div>
          <div class="new-password-row-parent">
            <div class="new-password-row">
              <div class="new-password-labels">
                <div class="new-password">New Password</div>
              </div>
              <div class="box13">
                <img class="calendar-clear-icon13" alt="" src="assets/calendarclear.svg" />

                <input class="new-password-inputs" placeholder="........." type="text" />
              </div>
            </div>
            <div class="new-password-row1">
              <div class="confirm-password-wrapper">
                <div class="confirm-password">Confirm Password</div>
              </div>
              <div class="box14">
                <img class="calendar-clear-icon14" alt="" src="assets/calendarclear.svg" />

                <input class="text-input9" placeholder="12345678" type="text" />
              </div>
            </div>
          </div>

          <div class="save-button-container1">
            <button class="primary-button3">
              <div class="save-changes2">Save Changes</div>
            </button>
          </div>
        </div>
      </form>
    </ng-template>
  </ion-modal>
</ion-content> -->